@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="row">
    <div class="col-md-offset-4">
        <div class="jumbolton">
            <h3>vindo ao Dash Time </h3> 
            <p>
                O seu gerenciador de chamdos
            </p>
            <a href="@Url.Action("Index", "Dash")" class="btn btn-info">
                Acesse Aqui
            </a>
        </div>
    </div>
</div>